# Node modules
node_modules/

# Build output
build/

# Env files
.env
.env.local

# Logs
*.log

# Coverage for tests
coverage/

# VS Code settings
.vscode/

# macOS
.DS_Store

# JetBrains IDEs
.idea/

# Temporary
*.swp
*.tmp