/* #example {
  width: 100px;
  height: 100px;
  background-color: red;
  margin-left: 100px;
  padding-bottom: 100px;
}
#example2 {
  width: 100px;
  height: 100px;
  background-color: blue;
  margin-left: 100px;
  padding-right: 100px;
} */
#parent {
  width: 300px;
  height: 300px;
  background-color: red;
  font-size: 0; /* This is to remove the space between inline-block elements */
}

#child1 {
  width: 100px;
  height: 100px;
  background-color: blue;
  display: inline-block;
}
#child2 {
  width: 100px;
  height: 100px;
  background-color: green;
  display: inline-block;
}
