#root {
  max-width: 1280px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 1 auto;
  padding-top: 1rem;
  text-align: center;
}

.ex-space {
  margin-bottom: 3rem;
  border-bottom: 1px solid #ccc;
  padding-bottom: 1rem;
}
